---
import Section from "@/components/me/Section.astro"
import HTML from "@/components/Icons/me/html.astro"
import CSS from "@/components/Icons/me/css.astro"
import JavaScript from "@/components/Icons/me/javascript.astro"
import TypeScript from "@/components/Icons/me/type.astro"
import React from "@/components/Icons/me/react.astro"
import Node from "@/components/Icons/me/node.astro"
import MySQL from "@/components/Icons/me/sql.astro"
import Git from "@/components/Icons/me/git.astro"
import GitHub from "@/components/Icons/me/Github.astro"
import Tailwind from "@/components/Icons/me/tailwind.astro"
import Next from "@/components/Icons/me/next.astro"
import { skills } from "@cv"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
}
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>