---
interface Props {
    name: string
}

const { name } = Astro.props
---

<div class="text-white text-lg sm:text-xl flex flex-col gap-6">
    <p>
      En <strong>{name}</strong>, nos apasiona el arte de la barbería.
    </p>
    <p>
      Con <strong>3 años de experiencia</strong>, nuestro equipo de barberos 
      expertos combina técnicas tradicionales con las últimas tendencias 
      para ofrecerte un servicio <strong>personalizado y de alta calidad</strong>.
    </p>
    <p>
      Nos enorgullece crear un <strong>ambiente relajado y masculino</strong> donde 
      cada cliente se sienta como en casa.
      ¡Ven y descubre por qué <strong>somos la barbería favorita de Puebla</strong>!
    </p>
</div>

<style>
  #theater,
  #trophies-text h1,
  #trophies-text p {
    animation: cover-animation linear both;
    animation-timeline: view();
  }
  #theater-text h1,
  #theater-text p,
  #trophies {
    animation: entry-animation linear both;
    animation-timeline: view();
  }
  #theater {
    animation-range: entry 10% cover 40%;
  }
  #theater-text h1 {
    animation-range: entry 10% cover 30%;
  }
  #theater-text p {
    animation-range: entry 10% cover 20%;
  }
  #trophies {
    animation-range: entry 30% cover 50%;
  }
  #trophies-text h1 {
    animation-range: entry 30% cover 40%;
  }
  #trophies-text p {
    animation-range: entry 20% cover 30%;
  }
  @keyframes entry-animation {
    0% {
      opacity: 0;
      translate: var(--entry-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
  @keyframes cover-animation {
    0% {
      opacity: 0;
      translate: var(--cover-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>