---
---

<div class="text-white text-lg sm:text-xl flex flex-col gap-6">
    <p>
      En <strong>G-Look</strong>, nos apasiona el arte de la barbería.
    </p>
    <p>
      Con <strong>3 años de experiencia</strong>, nuestro equipo de barberos 
      expertos combina técnicas tradicionales con las últimas tendencias 
      para ofrecerte un servicio <strong>personalizado y de alta calidad</strong>.
    </p>
    <p>
      Nos enorgullece crear un <strong>ambiente relajado y masculino</strong> donde 
      cada cliente se sienta como en casa.
      ¡Ven y descubre por qué <strong>somos la barbería favorita de Puebla</strong>!
    </p>
  </div>
  