---
import Layout from '@/layouts/Error.astro'
---

<Layout>
    <div class="flex flex-col items-center justify-center h-screen gap-4 max-w-7xl mx-auto">
        <h1 class="text-9xl font-bold text-center">404 - Pagina no encontrada</h1>
        <iframe 
            src="https://giphy.com/embed/QMHoU66sBXqqLqYvGO" 
            width="480" 
            height="269" 
            style="" 
            frameborder="0" 
            class="giphy-embed" 
            allowfullscreen
        />
    </div>
</Layout>