---
import Layout from '@/layouts/Error.astro'

---

<Layout>
	<h1 class="text-9xl font-bold">
		Pagina creada por <br /> <strong class="uppercase">Victor Martinez</strong>.
	</h1>
	<a href="/G-Look-Barber">G-Look Barber</a>
	<a href="/DonPerfecto-Barber">Don Perfecto Barber</a>
</Layout>
