---
interface Props {
    barber: string
    number: string
}

const { barber, number } = Astro.props

// Número de WhatsApp sin espacios ni signos
const phone = number;

// Mensaje precargado (encodeado)
const message = encodeURIComponent(
  `¡Hola! 👋 Me gustaría reservar el día ___ para un servicio con ${barber}. ¿Podrían brindarme más información?`
);

const url = `https://wa.me/${phone}?text=${message}`
---

<a href={url} class="text-2xl" target="_blank" rel="noopener noreferrer">
    <slot />
</a>

<style>
    a {
        background-image: linear-gradient(
            to right,
            #cdbca4,
            #cdbca4 50%,
            #ffffff 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    a:before{
        content: '';
        background: #cdbca4;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    a:hover {
        background-position: 0;
    }

    a:hover::before{
        width: 100%;
    }
</style>