---
import CardItem from "./CardItem.astro";
---

<section class="flex sm:flex-row flex-col justify-center items-center p-14 gap-10">
    <CardItem name="Jorge">
        Francisco cuenta con 2 años de experiencia, cuenta con un certificado de barbería.
        Especializado en cortes modernos y clásicos, arreglo de barba y tratamientos premium para hombres.    
    </CardItem>
    
    <CardItem name="Francisco">
        Francisco cuenta con 2 años de experiencia, cuenta con un certificado de barbería.
        Especializado en cortes modernos y clásicos, arreglo de barba y tratamientos premium para hombres.
    </CardItem>
</section>