---
import CardItem from "./CardItem.astro";
---

<div class="flex flex-wrap justify-center gap-8">
  <CardItem name="Jorge">
    Jorge cuenta con 2 años de experiencia, certificado en barbería.
    Especializado en cortes modernos y clásicos, arreglo de barba y tratamientos premium para hombres.
  </CardItem>

  <CardItem name="Francisco">
    Especializado en cortes modernos y clásicos, arreglo de barba y tratamientos premium para hombres.
  </CardItem>
</div>
