---
interface Props {
    img: string
    class?: string
}
const { img, class: className } = Astro.props
---

<div class={`
    ${className}
    bg-[url('/images/${img}.webp')] 
    bg-cover 
    bg-center 
    w-full 
    absolute 
    inset-0 
    mask-fade-bottom`}>
</div>

<div class="absolute m-auto w-full h-full  animate-blurred-fade-in">
    <slot />
</div>


