---
const { google_maps } = Astro.props as {
    google_maps: string
}
---
<div class="relative w-full h-[400px] rounded-xl overflow-hidden border border-don-gold shadow-md">
  <iframe 
    src={google_maps} 
    width="100%"
    height="100%"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="absolute inset-0"
  />
</div>