---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="hidden md:flex items-center gap-8 text-xl">
    <HeaderLink class="text_glowing" href="/SobreNosotros/">
        Sobre nosotros
      </HeaderLink>
      <HeaderLink class="text_glowing" href="/Archivos/">Archivos </HeaderLink>
      <HeaderLink class="text_glowing" href="/Planes/"> Planes </HeaderLink>
</nav>