---
const { name, logo } = Astro.props as { name: string, logo: string }
---
<footer class="flex items-center justify-between gap-10 border-t border-white/10 py-20">
    <div class="w-full flex flex-col md:flex-row items-center justify-between px-5 py-10 ">
        <div class="flex items-center gap-2">
            <img src={logo} alt="{name} logo" class="w-16 h-16 rounded-full">
            <a href="/" >Barbería <span class="font-bold hover:underline hover:text-don-gold transition duration-300">{name}</span>. 2025 Todos los derechos reservados.</a>
        </div>
        <a href="https://vicma.vercel.app" target="_blank" rel="noopener noreferrer" class="text-don-gold hover:underline transition duration-300">Si te interesa esta página para tu negocio, no dudes en contactarme.</a>
    </div>
</footer>