---
import LightboxGallery from '@components3/LightboxGallery.tsx'

const gallery = [
  {
    src: '/images/example3/gallery-6.webp',
    alt: 'Vista general del local',
    cols: 'col-span-2',
    rows: 'row-span-3',
    width: 1000,
    height: 1200,
  },
  {
    src: '/images/example3/gallery-1.webp',
    alt: 'Barberos atendiendo a un cliente',
    cols: 'col-span-2',
    rows: 'row-span-2',
    width: 1000,
    height: 800,
  },
  {
    src: '/images/example3/gallery-3.webp',
    alt: 'Detalle de tijeras sobre mesa',
    cols: 'col-span-2',
    rows: 'row-span-1',
    width: 800,
    height: 600,
  },
  {
    src: '/images/example3/gallery-4.webp',
    alt: 'Sala de espera moderna',
    cols: 'col-span-1',
    rows: 'row-span-2',
    width: 600,
    height: 900,
  },
  {
    src: '/images/example3/gallery-1.webp',
    alt: 'Barberos atendiendo a un cliente',
    cols: 'col-span-1',
    rows: 'row-span-2',
    width: 1000,
    height: 800,
  },
  {
    src: '/images/example3/gallery-5.webp',
    alt: 'Retoque de barba con navaja',
    cols: 'col-span-2',
    rows: 'row-span-1',
    width: 1000,
    height: 600,
  },
]
---

<section id='gallery' aria-labelledby='gallery-title' class='py-20'>
  <div class='w-full mx-auto px-6 lg:px-0'>
    <h2
      id='gallery-title'
      class='text-4xl sm:text-5xl font-serif font-semibold text-white mb-12 text-center text-balance'
    >
      Galería de El Templo
    </h2>

    <LightboxGallery client:load images={gallery} />
  </div>
</section>
