---
import HeaderLink from "@components3/HeaderLink.astro";
---

<header id="Header-scroll" class="fixed top-0 w-full px-6 py-4 z-50 bg-transparent">
    <div class="max-w-5xl mx-auto flex items-center justify-between gap-6 lg:gap-16">
        <!-- decoration line -->
        <div class="w-full h-1 bg-white "></div>
         
        <HeaderLink class="text_glowing font-bold " checkActive={false} href="#story">
            Historia
        </HeaderLink>
        <HeaderLink class="text_glowing font-bold " checkActive={false} href="#services">
            Servicios
        </HeaderLink>
        <!-- TODO: Pendiente animacion blur logo -->
        <!-- <HeaderLink href="/" aria-label="Inicio" class="relative z-10"> -->
            <img src="/images/El Templo-Logo.webp" alt="El Templo Logo" class="w-36 h-36 bg-cover rounded-full">
            <!-- <img src="/images/El Templo-Logo.webp" alt="El Templo Logo" class="w-36 h-36 bg-cover rounded-full absolute m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"> -->

        <!-- </HeaderLink> -->
        
        <HeaderLink class="text_glowing font-bold " checkActive={false} href="#team">
            Equipo
        </HeaderLink>
        <HeaderLink class="text_glowing font-bold " checkActive={false} href="#contact">
            Contacto
        </HeaderLink>

        <!-- decoration line -->
        <div class="w-full h-1 bg-white"></div>
    </div>
</header>

<style>
    #Header-scroll {
        animation: enhance-header-3 linear both;
        animation-timeline: scroll(root);
        animation-range: 0 300px;
    }

    img {
        animation: image-reduce linear both;
        animation-timeline: scroll(root);
        animation-range: 0 300px;
    }

    @keyframes image-reduce {
        to {
            width: 80px;
            height: 80px;
        }
        
    }
    
    @keyframes enhance-header-3 {
        to {
            box-shadow:
            0px 5px 50px -5px rgba(0, 0, 0, 0.1),
            0px 0px 0 1px rgba(0, 0, 0, 0.3);
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
        }
    }
</style>