---
const { name, label } = Astro.props as {
  name: string
  label: string
}

const letters = name.split('')
---

<section
  id='sobre-nosotros'
  aria-label={`Sección introductoria de ${name}`}
  class='relative w-full max-w-[100vw] h-[100svh] overflow-hidden'
>
  <!-- Imagen de fondo -->
  <img
    src='/images/hero.webp'
    alt={`Imagen principal de fondo de la barbería ${name}`}
    loading='lazy'
    width='1920'
    height='1080'
    class='absolute inset-0 w-full h-full object-cover object-top z-0 opacity-60 mask-fade-bottom'
  />

  <!-- Contenido centrado -->
  <div
    class='absolute inset-0 z-10 flex flex-col justify-center items-center text-center px-4 gap-6 animate-blurred-fade-in animate-duration-[2s] animate-ease-in-out'
  >
    <!-- Título animado por letras -->
    <h1
      class='flex flex-wrap justify-center gap-2 sm:gap-4 md:gap-6 lg:gap-8 text-4xl md:text-6xl lg:text-8xl font-serif uppercase text-white drop-shadow'
    >
      {
        letters.map((letter, index) => (
          <span
            class='inline-block animate-slide-in-top'
            style={`animation-delay: ${index * 100}ms`}
          >
            {letter}
          </span>
        ))
      }
    </h1>

    <!-- Subtítulo -->
    <p class='text-lg md:text-xl lg:text-2xl font-jura text-white/80 max-w-2xl'>
      {label}
    </p>
  </div>
</section>
