---
import AboutContent from "@/components/About/AboutContent.astro";
import AboutStats from "@/components/About/AboutStats.astro";
import aboutImage from "@/assets/images/about.webp";
import { Image } from "astro:assets";
---

<section id="About" class="w-full max-w-7xl mx-auto px-6 py-20 grid lg:grid-cols-2 gap-12 items-center">
  
  <!-- Texto -->
  <div class="flex flex-col gap-10">
    <h2 class="text-4xl sm:text-5xl uppercase tracking-wide font-semibold text-center lg:text-left bling">
      Sobre Nosotros
    </h2>

    <AboutContent />

    <AboutStats />
  </div>

  <!-- Imagen -->
  <div class="rounded-2xl overflow-hidden mask-fade-upper w-full h-full">
    <Image
      src={aboutImage}
      alt="Interior de la barbería G-Look"
      class="object-cover w-full h-full"
      width={800}
      height={900}
      loading="lazy"
    />
  </div>
</section>
