---
import RedesSociales from "@/components/RedesSociales.astro";
---

<section id="Contact" class="w-full max-w-6xl mx-auto px-6 py-20">
  <h3 class="text-4xl font-bold text-center uppercase bling mb-12">Contáctanos</h3>
  <p class="text-center text-pretty mb-12">
    ¿Tienes alguna pregunta o quieres reservar una cita? <br />¡No dudes en contactarnos!
  </p>

  <RedesSociales />
</section>
