---
import RedesSociales from "@/components/RedesSociales.astro";

interface Props {
  barber: string;
}

const { barber } = Astro.props;
---

<section id="Contact" class="w-full max-w-6xl mx-auto px-6 py-20">
  <h3 class="text-4xl font-bold text-center uppercase bling mb-12">Contáctanos</h3>
  <p class="text-white/80 text-base md:text-lg mb-6 text-center">
    ¿Tienes dudas o deseas agendar? Escríbenos por WhatsApp o redes sociales. <br />¡Estamos para ayudarte!
  </p>

  <RedesSociales barber={barber} />
</section>
