---
import ButtonReserv from "@/components/Button_reserv.astro";
import Hero from "@/components/Hero.astro";


---
<section class="relative flex min-h-screen w-full">
    <Hero img="hero">
        <div class="flex flex-col items-center justify-center h-screen gap-4">
            <h1 class="text-9xl font-bold">G-Look</h1>
            <h3 class="text-xl">Transforma tu estilo con los mejores cortes y barbas</h3>

            <p>Expertos en cortes clásicos y modernos, arreglo de barba y tratamientos premium para hombres.</p>
            <ButtonReserv link="/reservar">Reserva tu cita ahora</ButtonReserv>
        </div>
    </Hero>
</section>
