---
import HeroOptimized from "@/components/Hero.astro";
import ButtonReserv from "@/components/Button_reserv.astro";
import heroImage from "@/assets/images/hero.webp";

interface Props {
  titulo: string,
  subtitulo: string,
}

const { titulo, subtitulo } = Astro.props
---

<section class="relative w-full min-h-screen overflow-hidden">
  <HeroOptimized image={heroImage} alt="Corte de cabello estilo G-Look" class="mask-fade-bottom">
    <div class="flex flex-col items-center justify-center h-screen text-center px-6 gap-4 animate-blurred-fade-in">
      <h1 class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-extrabold leading-tight  drop-shadow-lg">{titulo}</h1>
      <h2 class="text-lg sm:text-xl md:text-2xl font-medium ">{subtitulo}</h2>
      <p class="max-w-xl text-sm sm:text-base md:text-lg text-white/90 leading-relaxed">
        <slot />
      </p>
      <ButtonReserv barber="G-Look" number="5560908911">Reserva tu cita ahora</ButtonReserv>
    </div>
  </HeroOptimized>
</section>
