---
import Map from "@/components/Map.astro";

const HORARIO = {
  "Lunes a Viernes": "11:00 AM - 08:00 PM",
  "S치bado": "11:00 AM - 06:30 PM",
  "Domingo": "Cerrado"
};
---

<section id="Location" class="w-full max-w-7xl mx-auto p-6 sm:p-20 my-24">
  <h3 class="text-4xl font-bold uppercase tracking-wide text-center bling mb-16">
    Ubicaci칩n
  </h3>

  <div class="flex flex-col lg:flex-row items-center justify-between gap-14 lg:gap-20">
    
    <!-- Mapa -->
    <div class="relative w-full h-[400px] rounded-xl overflow-hidden border border-don-gold shadow-md">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.439691429085!2d-98.21654732414024!3d19.000337154342215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfbf00256c6e6f%3A0xf2d19bbb8badb5b3!2sG-look%20Barber!5e0!3m2!1sen!2smx!4v1744691123710!5m2!1sen!2smx" 
        width="100%"
        height="100%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="absolute inset-0"
      ></iframe>
    </div>

    <!-- Info -->
    <div class="w-full lg:w-1/2 flex flex-col justify-center items-center gap-10 text-center">
      
      <!-- Direcci칩n -->
      <div class="text-base sm:text-lg leading-relaxed max-w-prose">
        <a 
          href="https://maps.app.goo.gl/aXNWT6rWuUagLBLQ6" 
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex flex-col sm:flex-row items-center justify-center gap-2 hover:underline text-pretty transition"
        >
          <span class="text-xl">游늸</span>
          <span>
            Estamos en <strong class="text-sisal-500">
              Privada 71 A Ote. 801, Loma Linda, 72477 Heroica Puebla de Zaragoza, Pue.
            </strong>, a un costado de <strong class="text-sisal-500">Ciudad Universitaria</strong>.
          </span>
        </a>
        <p class="mt-4 font-semibold text-pretty">춰Te esperamos!</p>
      </div>

      <!-- Horario -->
      <div class="w-full">
        <h4 class="text-2xl font-semibold uppercase tracking-wide text-center mb-4 bling">Horario de Atenci칩n</h4>
        <ul class="grid grid-cols-2 gap-y-2 text-sm sm:text-base text-center divide-y divide-white/10 max-w-md mx-auto">
          {Object.entries(HORARIO).map(([dia, horario]) => (
            <li class="col-span-2 py-1 flex justify-between px-2 sm:px-6">
              <span class="font-medium text-gray-300">{dia}</span>
              <span>{horario}</span>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</section>
