---
import Hero from "@/components/Hero.astro"; // O HeroOptimized si lo migras
import Normal from "@/components/Normal.astro";
import Pack from "@/components/Pack.astro";
import ServiceImage from "@/assets/images/servicios.webp";

---

<section id="Service" class="relative w-full py-10 overflow-hidden">
  <!-- Fondo Hero (no interfiere con contenido) -->
  <Hero image={ServiceImage} alt="Corte de cabello estilo G-Look" oppacity={true}>
        <!-- Contenido encima -->
    <div class="relative z-10 max-w-7xl mx-auto px-6 py-20 flex flex-col items-center gap-8">
        <h3 class="text-3xl sm:text-4xl md:text-5xl font-bold uppercase text-center bling tracking-wide">
        Servicios
        </h3>

        <p class="text-center text-pretty text-sm sm:text-base max-w-lg">
        Conoce todos los servicios que ofrecemos
        </p>
        <p class="text-center text-pretty text-sm sm:text-base text-gray-300">
        Todos los servicios incluyen bebida de cortesía 
        </p>

        <!-- Tabla de servicios -->
        <Normal />

        <!-- Espaciado visual -->
        <div class="h-16"></div>

        <!-- Paquete del mes -->
        <Pack barber="G-Look" number="5560908911" />
    </div>
  </Hero>

  
</section>
