---
import Card from "@/components/Card.astro";
---

<section id="Team" class="w-full max-w-7xl mx-auto p-6 sm:p-20 my-24">
    <h3 class="mx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-5xl  bling">Nuestro equipo</h3>
    <Card />
</section>