---
import Card from "@/components/CardsDonPerfecto.astro";
---

<section id="Team" class="w-full max-w-7xl mx-auto p-6 sm:p-20 my-24">
  <h3 class="mx-auto mb-16 text-center text-3xl md:text-5xl font-semibold uppercase tracking-wide bling">
    Nuestro equipo
  </h3>

  <Card />
</section>
