---
import '@/styles/global.css';
import '@fontsource-variable/montserrat';

import Header from '@/sections/Header.astro';
import Footer from '@/sections/Footer.astro';
import FloatingCta from '@/components/FloatingCta.astro';
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Barbería ubicada en Puebla. Especialistas en cortes modernos y clásicos, arreglo de barba y rituales premium. ¡Reserva tu cita hoy mismo!" />
    <meta name="keywords" content="barbería en Puebla, cortes de cabello para hombres, arreglo de barba, grooming masculino, G-Look, barbería cerca de Ciudad Universitaria" />
    <meta name="author" content="G-Look Barbería" />
    <meta name="robots" content="index, follow" />

    <link rel="canonical" href="https://glookbarber.com/" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />

    <title>G-Look - Barbería ubicada en Puebla</title>

    <!-- Slot para inyectar head desde páginas -->
    <slot name="head" />
  </head>

  <body class="min-h-screen flex flex-col bg-[#1B1B1B] text-white font-sans">
    <Header role="banner" />

    <main id="main-content" role="main" class="flex-grow">
      <slot />
	  <FloatingCta />
    </main>

    <Footer role="contentinfo" />
  </body>
</html>
